{{- if .Values.ingress.basic_auth }}
apiVersion: kubernetes-client.io/v1
kind: ExternalSecret
metadata:
  name: gumball-club-basic-auth
spec:
  backendType: secretsManager
  region: eu-west-2
  data:
    - key: rtlj-prod/eks/dapps/mainnet/temp-basic-auth
      name: auth
      property: auth
{{- end }}
