name: Build

on:
  workflow_dispatch:

  push:
    branches:
      - develop
      - release/*
  pull_request:
    branches:
      - develop
      - release/**
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Use Node.js
        uses: actions/setup-node@7c29869aec4da703a571b27bcd84d4f15af0b56e
        with:
          node-version: '18.x'

      - name: Authenticate with private NPM package
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPMJS_TOKEN }}" > ~/.npmrc

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Dump context
        uses: crazy-max/ghaction-dump-context@v2

  setup-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.toolkit-tags.outputs.tags }}
      labels: ${{ steps.toolkit-tags.outputs.labels }}
      json: ${{ steps.toolkit-tags.outputs.json }}
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - name: Setup tags
        id: toolkit-tags
        uses: docker/metadata-action@57396166ad8aefe6098280995947635806a0e6ea
        with:
          images: eu.gcr.io/dev-container-repo/radix-dapp-toolkit
          tags: |
            type=sha,event=branch
            type=sha,event=pr
            type=semver,pattern={{version}}

  push-docker-image:
    runs-on: ubuntu-latest
    needs: setup-tags
    permissions:
      id-token: write
      contents: read
      pull-requests: read  
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: google-github-actions/auth@a61909d048e0be579b6c15b27088d19668493851
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDP }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      - name: configure-docker
        run: gcloud auth configure-docker -q
      - name: Docker build
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
        with:
          file: ./Dockerfile
          tags: ${{ needs.setup-tags.outputs.tags }}
          labels: ${{ needs.setup-tags.outputs.labels }}
          push: true
          context: ./

  deploy-pr:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    needs:
      - setup-tags
      - push-docker-image
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: unfor19/install-aws-cli-action@457b7980b125044247e455d87b9a26fc2299b787
        with:
          version: 2
      - name: Setup helmfile and helm
        uses: mamezou-tech/setup-helmfile@55ae2a66c5af4883148b7a50cc6ddc9b61042184
        with:
          helm-diff-plugin-version: "v3.1.3"
          helmfile-version: "v0.144.0"
          helm-version: "v3.11.0"
          install-kubectl: no
      - name: Install kubectl
        uses: azure/setup-kubectl@901a10e89ea615cf61f57ac05cecdf23e7de06d8 #v3.2
        with:
          version: "v1.25.6"
      - name: Configure AWS credentials for deployment
        uses: aws-actions/configure-aws-credentials@bab55d3830fe69833c9fecaa51fe2c829a7508f3
        with:
          role-to-assume: ${{ secrets.DEPLOY_PR_IAM_ROLE }}
          aws-region: eu-west-2
      - name: Deploy application
        working-directory: deploy/helm
        run: |
          cat <<DOC > namespace.yaml
          apiVersion: hnc.x-k8s.io/v1alpha2
          kind: SubnamespaceAnchor
          metadata:
            name: radix-dapp-toolkit-pr-${{ github.event.number }}
            namespace: radix-dapp-toolkit-ci-pr
          DOC

          aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME }} \
                                    --alias ${{ secrets.CLUSTER_NAME }} \
                                    --region eu-west-2

          kubectl apply -f namespace.yaml

          helmfile --environment pr --namespace radix-dapp-toolkit-pr-${{ github.event.number }} \
                   --state-values-set "ci.tag=${{ env.CI_TAG }}" \
                   --state-values-set "ci.ingressDomain=${{ env.INGRESS_DOMAIN }}" \
                   apply
        env:
          CI_TAG: ${{ fromJSON(needs.setup-tags.outputs.json).labels['org.opencontainers.image.version'] }}
          INGRESS_DOMAIN: radix-dapp-toolkit-pr-${{ github.event.number}}.${{ secrets.INGRESS_DOMAIN }}
          HELM_GH_USER: ${{ secrets.HELM_GH_USER }}
          HELM_GH_PASS: ${{ secrets.HELM_GH_PASS }}

  deploy-dev:
    if:  github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    needs:
      - setup-tags
      - push-docker-image
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: unfor19/install-aws-cli-action@457b7980b125044247e455d87b9a26fc2299b787
        with:
          version: 2
      - name: Setup helmfile and helm
        uses: mamezou-tech/setup-helmfile@55ae2a66c5af4883148b7a50cc6ddc9b61042184
        with:
          helm-diff-plugin-version: "v3.1.3"
          helmfile-version: "v0.144.0"
          helm-version: "v3.11.0"
          install-kubectl: no
      - name: Install kubectl
        uses: azure/setup-kubectl@901a10e89ea615cf61f57ac05cecdf23e7de06d8 #v3.2
        with:
          version: "v1.25.6"
      - name: Configure AWS credentials for deployment
        uses: aws-actions/configure-aws-credentials@bab55d3830fe69833c9fecaa51fe2c829a7508f3
        with:
          role-to-assume: ${{ secrets.DEPLOY_DEV_IAM_ROLE }}
          aws-region: eu-west-2
      - name: Deploy application
        working-directory: deploy/helm
        run: |
          aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME }} \
                                    --alias ${{ secrets.CLUSTER_NAME }} \
                                    --region eu-west-2

          helmfile --environment dev --namespace radix-dapp-toolkit-dev \
                   --state-values-set "ci.tag=${{ env.CI_TAG }}" \
                   --state-values-set "ci.ingressDomain=${{ env.INGRESS_DOMAIN }}" \
                   apply
        env:
          CI_TAG: ${{ fromJSON(needs.setup-tags.outputs.json).labels['org.opencontainers.image.version'] }}
          INGRESS_DOMAIN: radix-dapp-toolkit-dev.${{ secrets.INGRESS_DOMAIN }}
          HELM_GH_USER: ${{ secrets.HELM_GH_USER }}
          HELM_GH_PASS: ${{ secrets.HELM_GH_PASS }}

  deploy-release:
    if: startsWith('release/', github.ref_name)
    runs-on: ubuntu-latest
    needs:
      - setup-tags
      - push-docker-image
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: unfor19/install-aws-cli-action@457b7980b125044247e455d87b9a26fc2299b787
        with:
          version: 2
      - name: Setup helmfile and helm
        uses: mamezou-tech/setup-helmfile@55ae2a66c5af4883148b7a50cc6ddc9b61042184
        with:
          helm-diff-plugin-version: "v3.1.3"
          helmfile-version: "v0.144.0"
          helm-version: "v3.11.0"
          install-kubectl: no
      - name: Install kubectl
        uses: azure/setup-kubectl@901a10e89ea615cf61f57ac05cecdf23e7de06d8 #v3.2
        with:
          version: "v1.25.6"
      - name: Configure AWS credentials for deployment
        uses: aws-actions/configure-aws-credentials@bab55d3830fe69833c9fecaa51fe2c829a7508f3
        with:
          role-to-assume: ${{ secrets.DEPLOY_RELEASES_IAM_ROLE }}
          aws-region: eu-west-2
      - name: Deploy application
        working-directory: deploy/helm
        run: |
          aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME }} \
                                    --alias ${{ secrets.CLUSTER_NAME }} \
                                    --region eu-west-2

          BRANCH_NAME=${{ github.ref_name }}
          NORMALIZED_BRANCH_NAME=${BRANCH_NAME/\//-}

          cat <<DOC > subns-manifest.yaml
          apiVersion: hnc.x-k8s.io/v1alpha2
          kind: SubnamespaceAnchor
          metadata:
            name: radix-dapp-toolkit-$NORMALIZED_BRANCH_NAME
            namespace: radix-dapp-toolkit-ci-releases
          DOC

          kubectl apply -f subns-manifest.yaml

          helmfile --environment dev --namespace radix-dapp-toolkit-$NORMALIZED_BRANCH_NAME \
                   --state-values-set "ci.tag=${{ env.CI_TAG }}" \
                   --state-values-set "ci.ingressDomain=radix-dapp-toolkit-${NORMALIZED_BRANCH_NAME}.${{ env.INGRESS_DOMAIN }}" \
                   apply
        env:
          CI_TAG: ${{ fromJSON(needs.setup-tags.outputs.json).labels['org.opencontainers.image.version'] }}
          INGRESS_DOMAIN: ${{ secrets.INGRESS_DOMAIN }}
          HELM_GH_USER: ${{ secrets.HELM_GH_USER }}
          HELM_GH_PASS: ${{ secrets.HELM_GH_PASS }}
